<app-header></app-header>
<router-outlet></router-outlet>
<section class="hero is-link is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Hi :)
      </h1>
      <p class="subtitle">
        I have split this into few extra things..
        There are two routes:
      </p>
      <div class='column is-four-fifths'>
        <div class='column'>
          <div class="card">
            <div class="card-content">
              <a href="/pets"> /pets - all pets and there type.</a>
            </div>
          </div>
        </div>
        <div class='column'>
          <div class="card">
            <div class="card-content">
              <a href="/cats"> /cats - cats and their owners gender.</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
