<section class='hero background-home is-link is-fullheight-with-navbar'>
  <div class='hero-body'>
    <div class='container'>
      <div class='column is-four-fifths'>
        <div>
          <h1 class='title'>
            Hi :)
          </h1>
          <p class='subtitle'>
            I have split this into few extra things..
          </p>
        </div>
        <div class='title'>
          There are two routes:
        </div>
        <div class='column'>
          <div class='card'>
            <div class='card-content'>
              <a class='subtitle pets' href='/pets'> <a class='title'> /pets </a> - This is all pets and there type.</a>
            </div>
          </div>
        </div>
        <div class='column'>
          <div class='card'>
            <div class='card-content'>
              <a class='subtitle cats' href='/cats'> 
                <a class='title'> /cats </a>
                 - This the name of the cats and their owners gender.</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
